<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <!-- Refresh -->
    <ion-refresher slot="fixed" id="refresher" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-searchbar animated *ngIf="folder == 'everything'" [(ngModel)]="search" (ionChange)="ngOnInit()">
    </ion-searchbar>
    <div id="warning" *ngIf="search == '' && folder == 'everything'">Please search the news to get
      results!</div>

    <ion-card (click)="presentModal(article)" *ngFor="let article of data?.articles">
      <ion-card-header>
        <ion-img *ngIf="article.urlToImage" [src]="article.urlToImage"></ion-img>
        <ion-card-subtitle>{{article['source'].name}}</ion-card-subtitle>
        <ion-card-title>{{article.title}}</ion-card-title>
      </ion-card-header>
    </ion-card>

    <!-- Load more Data -->
    <div *ngIf=showInfiniteScroll>
      <ion-infinite-scroll threshold="100px" (ionInfinite)="moreData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>

  </div>
</ion-content>